{% extends "base.html" %}

{% block content %}
<header>
    <h1>Discover</h1>
</header>

<!-- Buttons for Navigation -->
<div class="button-group text-center mb-4">
    <button class="btn btn-success" onclick="location.href='{{ url_for('top_rated_movies') }}'">Top Rated Movies</button>
    <button class="btn btn-info" onclick="location.href='{{ url_for('top_rated_tvshows') }}'">Top Rated TV Shows</button>
    <button class="btn btn-info" onclick="location.href='{{ url_for('discover') }}'">This Week's Trending</button>
</div>

<!-- Pagination Buttons at the Top -->
<div class="pagination-buttons text-center mb-4">
    <form method="GET" action="{{ url_for('discover') }}" style="display: inline;">
        <input type="hidden" name="page" value="{{ current_page - 1 }}">
        <button type="submit" class="btn btn-secondary btn-lg" {% if current_page <= 1 %}disabled{% endif %}>Back</button>
    </form>
    <form method="GET" action="{{ url_for('discover') }}" style="display: inline;">
        <input type="hidden" name="page" value="{{ current_page + 1 }}">
        <button type="submit" class="btn btn-primary btn-lg">Next</button>
    </form>
</div>

<section class="trending-section">
    <div class="trending-movies">
        <h2>This Week's Trending Movies</h2>
        <div class="media-list">
            {% for movie in trending_movies %}
            <a href="{{ url_for('movie_details', movie_id=movie.id) }}" class="media-item">
                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
                <h3>{{ movie.title }}</h3>
                <p>Rating: {{ movie.vote_average | round(1) }}</p>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="trending-tvshows">
        <h2>This Week's Trending TV Shows</h2>
        <div class="media-list">
            {% for tvshow in trending_tvshows %}
            <a href="{{ url_for('tvshow_details', tvshow_id=tvshow.id) }}" class="media-item">
                <img src="https://image.tmdb.org/t/p/w500{{ tvshow.poster_path }}" alt="{{ tvshow.name }}">
                <h3>{{ tvshow.name }}</h3>
                <p>Rating: {{ tvshow.vote_average | round(1) }}</p>
            </a>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Pagination Buttons at the Bottom -->
<div class="pagination-buttons text-center mt-4">
    <form method="GET" action="{{ url_for('discover') }}" style="display: inline;">
        <input type="hidden" name="page" value="{{ current_page - 1 }}">
        <button type="submit" class="btn btn-secondary btn-lg" {% if current_page <= 1 %}disabled{% endif %}>Back</button>
    </form>
    <form method="GET" action="{{ url_for('discover') }}" style="display: inline;">
        <input type="hidden" name="page" value="{{ current_page + 1 }}">
        <button type="submit" class="btn btn-primary btn-lg">Next</button>
    </form>
</div>


{% endblock %}
